<form class="form-inline">
  <div class="form-group">
    <div class="input-group mr-2">
      <input
        id="rechercheDateInput"
        readonly
        ngbDatepicker
        class="form-control"
        placeholder="Vos dates"
        #d="ngbDatepicker"
      />
      <div class="input-group-append">
        <button
          (click)="d.toggle()"
          class="btn btn-outline-secondary ml-2 mr-2"
          type="button"
        >
          <i class="far fa-calendar-alt"></i>
        </button>
      </div>
    </div>
    <div *ngIf="showActions" class="input-group">
      <a
        id="rechercheBtn"
        type="button"
        routerLink="/chambresSuites"
        class="btn btn-warning my-2 btn-block"
        >Rechercher</a
      >
    </div>
  </div>
</form>
