<div class="container">
  <div class="row flex-wrap">
    <div class="col-md-4 col-sm-12">
      <h3>Plan du site</h3>
      <div class="list-group" style="cursor: pointer;">
        <div class="list-group-item list-group-item-action">
          A propos de l'hôtel paradis
        </div>
        <div class="list-group-item list-group-item-action">
          Nos chambres et suites
        </div>
        <div class="list-group-item list-group-item-action">
          Notre restaurant
        </div>
        <div class="list-group-item list-group-item-action">
          Notre espace bien-être
        </div>
        <div class="list-group-item list-group-item-action">Contactez-nous</div>
        <div class="list-group-item list-group-item-action">
          Mentions légales
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Adresse postale -->
      <div id="adresse">
        <div class="row">
          <h4 class="col-12">Adresse postale</h4>
          <p class="ml-3">Le vieux port, Marseille</p>
        </div>

        <iframe
          width="100%"
          height="400"
          frameborder="0"
          style="border: 0;"
          [src]="url | safe"
          allowfullscreen
        >
        </iframe>
      </div>
      <!-- Fin adresse postale -->
    </div>
  </div>
</div>
<br /><br />
